@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.general-outline {  /* Makes an outline for something */
    border: 1px solid #6e1a1a;
    border-radius: 4px;
    padding: 8px;
    outline: none;
}

.input-container { /* large container for multiple input boxes*/
    /* height: 200px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box { /* container a single text and input */
    /* height: 200px; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-button { /* simple button with outline*/
    padding: 10px;
    border: 1px solid #6e1a1a;
    border-radius: 4px;
    align-items: center;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

